<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <title> Technical Services </title>
  </head>
  <body>
    <div class='container'>
        <div class='row'>
            <h1> Change Control Log in </h1>
        </div>

        <div class='row'>

            <div class='col-md-6'> 
                <h2> Log In </h2>

                <form action='/login' method='POST'>
                    <div class="form-group">
                        <label> Username </label>
                        <input type='text' name='username' class="form-control" />
                    </div>
                    <div class="form-group">
                        <label> Password </label>
                        <input type='password' name='password' class="form-control" />
                    </div>
                    <button class='btn btn-info'> Log In </button>
                </form>
            </div>

            <div class='col-md-6'>
                <h2> Sign Up </h2>

                <form action='/signup' method='POST'>

                    <div class="form-group">
                        <label> Full Name </label>
                        <input type='text' name='fullname' class='form-control' /> </p>
                    </div>
                    <div class="form-group">
                        <label> Email</label>
                        <input type='email' name='email' class='form-control' />
                    </div>
                    <div class="form-group">
                        <label> Username </label> <input type='text' name='username' class='form-control' /> </p>
                    </div>
                    <div class="form-group">
                        <label> Password </label> <input type='password' name='password' class='form-control' />
                    </div>
                    <button class='btn btn-info'> Sign Up </button>

                </form>
            </div>
        </div>
    </div>
  </body>
</html>